body{
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensures the background is behind other content */
    background-image: url('../Assets/Images/donors_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

    body:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5); /* Adjust the opacity here */
    }


.HomePage {
    background: rgb(157,198,204);
    background: radial-gradient(circle, rgba(157,198,204,0.21349789915966388) 0%, rgba(242,242,242,0.3087359943977591) 18%, rgba(221,196,216,0.017419467787114895) 76%, rgba(115,115,115,0.4740021008403361) 100%);
    background-size: 100% 100%; /* Cover the entire screen */
    background-position: center;
    image-resolution: from-image;
}

.col-md-3 {
animation-name: fadeIn;
animation-duration: 4s; /* Animation duration: 4 seconds */
animation-fill-mode: both;
}

.card {
    background: rgb(157,198,204);
    background: radial-gradient(circle, rgba(157,198,204,0.21349789915966388) 0%, rgba(221,196,216,0.8241421568627451) 72%);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); /* Darken the shadow on hover */
    transform: scale(1.05); /* Increase the scale on hover */
}
.Info-Text {
    /* Set background color */
    padding: 10px; /* Add padding */
    border-radius: 5px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow */
    font-family: 'Berlin Sans FB';
    color: darkred;
    text-size-adjust: auto;
    animation-name: fadeIn;
    animation-duration: 4s; /* Animation duration: 2 seconds */
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Start the animation from fully transparent */
    }
    to {
        opacity: 1; /* End the animation at fully opaque */
    }
}





